.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  min-width: 400px;
  width: 70%;
  height: 100%;
  background-color: var(--secondary-100);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 64px;
}

@media (max-width: 768px) {
  .container {
    display: none;
  }
}
