.dashedDivider {
  width: 100%;
  height: 1px;
  border: 1px dashed var(--secondary-300);
}

.filled {
  background-color: var(--secondary-300) !important;
}

.indexContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 1.6rem;
  color: var(--text);
  line-height: 2.4rem;
  height: 1.6rem + 3.2rem;
  aspect-ratio: 1/ 1;
  border-radius: 8px;
  background-color: transparent;
  border: 2px dashed var(--secondary-300);
}

.container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}
